<h1>Login</h1>

<%= form_with url: "/sessions" do |form| %>
  <p>
    <%= form.label "username", class: "form-label" %>
    <%= form.text_field "username", class: "form-control" %>
    <%= form.label "password", class: "form-label" %>
    <%= form.password_field "password", class: "form-control" %>
  </p>

  <p>
    <%= form.submit "Login" %>
  </p>
<% end %>