<h1>New User Account</h1>

<%= form_with model: @user do |form| %>
  <p>
    <%= form.label "username", class: "form-label" %>
    <%= form.text_field "username", class: "form-control" %>
  </p>
  <p>
    <%= form.label "email", class: "form-label" %>
    <%= form.text_field "email", class: "form-control" %>
  </p>

  <p>
    <%= form.label "password", class: "form-label" %>
    <%= form.password_field "password", class: "form-control" %>
  </p>

  <p>
    <%= form.submit "Sign up" %>
  </p>
<% end %>