<h1><%= @place.name %></h1>

<% if @current_user %>

  <h2>My Posts</h2>
  <% for post in @place.posts.where({user_id: @current_user.id}) %>
    <div class="col-md-4">
    <h3><%= post.title %></h3>
    <h4><%= post.posted_on %></h4>
    <p><%= post.description %></p>
    <% if post.uploaded_image.attached? %>
      <img src="<%= url_for(post.uploaded_image) %>"  class="img-fluid">
      <% else %>
      <img src="<% post.image %>" class="img-fluid">
    <% end %>
    </div>
  <% end %>
<% end %>


<% if @current_user%>
  <p><a href="/posts/new?place_id=<%= @place.id %>">New Post</a></p>
<% else %>
  <p>Login to add a post</p>
<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>