<h1><%= @place.name %></h1>

<% if @current_user %>
  <h2> Posts by <%= @current_user.username %></h2>
  <p><a href="/posts/new?place_id=<%= @place.id %>">New Post</a></p>
  <div class="row">
    <% for post in @place.posts.where({user_id: @current_user.id}) %>
      <div class="col-md-4">
        <h3 class="text-center"> <%= post.title %></h3>
        <h4 class="text-center"> <%= post.posted_on %></h4>
        <% if post.uploaded_image.attached? %>
          <img src="<%= url_for(post.uploaded_image) %>"  class="img-fluid">
        <% else %>
          <p> No Image </p>
        <p><%= post.description %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <p><a href="/posts/new?place_id=<%= @place.id %>">New Post</a></p>

<% else %>
  <p>Login to add a post</p>
<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>