<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>




  <body>
     <div>
      <%= flash[:notice] %>
    </div>
    <div>
      <% if @current_user %>
        <p> Logged in as: <%= @current_user.username %> </p>
      
        <%= button_to "Logout", "/sessions/logout", method: :delete %>
      <% else %>
      <a href="/sessions/new">Login</a> |
      <a href="/users/new">Sign Up</a>
    <% end %>
  </div>


    <%= yield %>
  </body>
</html>
